* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Clarito: #00ffea;
  --Azul: #0b0894;
  --Negro: #000000;
  --Verde: #00ff08;
  --Amarillo: #fffb00;
  --Rojo: #7f0505;
  --Rosado: #ff00d0;
  --Naranja: #ff6f00;
  --Blanco: #fff;
  --Gris: #5c5c5c;
  --Menta: #aefff4;
  --Moradito: blueviolet;
}

.body {
  background-color: var(--Blanco);
}

.contenedor {
  max-width: 1200px;
  height: 100vh;
  margin: 0 auto;
  border-radius: 5px 5px;
  background-color: var(--Negro);
  display: flex;
  flex-direction: row;
  /* flex-direction: row-reverse; */
  /* flex-direction: column; */
  /* flex-direction: column-reverse; */
  flex-wrap: wrap;
  /* flex-wrap: nowrap; */
  /* flex-flow: column wrap; */
  /* justify-content: flex-start; */
  /* justify-content: flex-end; */
  /* justify-content: flex-end; */
  /* justify-content: center;
  justify-content: space-between;
  justify-content: space-around;
  justify-content: space-evenly; */
  align-items: end;
  align-items: center;
  align-items: space-between;
  /* align-items: stretch; */
}

.contenedor__ficha {
  background-color: var(--Moradito);
  width: 200px;
  height: 200px;
  text-align: center;
  border-radius: 5px;
  place-content: center;
  border: 1px solid var(--Negro);
}

.contenedor__ficha:hover {
  background-color: var(--Menta);
}
.contenedor .contenedor__ficha:nth-last-child(2) {
  background-color: steelblue;
  order: 1;
}
@media (max-width: 800px) {
  .contenedor {
    background-color: var(--Rosado);
    flex-direction: column;
  }
  .contenedor .contenedor__ficha:nth-last-child(2) {
    background-color: steelblue;
    order: 2;
    flex-direction: column;
  }
}
